* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html, body {
    background-color: white;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.8rem;
    color: black;
    background-size: contain;
    font-weight: 300 !important;
}

header {
    position: fixed;
    font-size: 2rem;
    text-align: center;
    z-index: 999999;
}

header img {
    width: 100vw;
}

.about .image {
    position: relative;
    top: 1rem;
    margin-right: 3rem;
}

.about img {
    height: 10rem;
}

.about {
    color: black;
    position: absolute;
    margin-left: 5rem;
    margin-right: 5rem;
    top: 50%;
    transform: translateY(-50%);
    font-size: 8rem;
    font-weight: 300;
    text-align: center;
    hyphens: none;
    z-index: 999;
}

.exhibition-container {
    position: absolute;
    top: 100vh;
    margin: 2.5rem;
}

.school {
    padding: 0 5rem;
    width: calc(100vw - 5rem);
    border-radius: 10rem;
    margin-bottom: 3rem;
    overflow: hidden;
    height: 18rem;
    transition: all 1s ease-in;
    color: white;
}

.button {
    display: flex;
    justify-content: space-between;
    font-size: 6rem;
    line-height: 18rem;
    border: none;
    width: calc(100vw - 15rem);
    cursor: pointer;
    user-select: none;
}

.collapsed {
    height: auto;
}

.plus {
    font-size: 10rem;
    font-weight: 200;
    margin-top: -1rem;
}

.exhibition {
    width: calc(100vw - 15rem);
    padding-bottom: 7rem;
}

.department {
    display: flex;
    flex-wrap: wrap;
}

.department-name {
    font-size: 2rem;
    font-weight: 400;
    padding: 1.5rem;
    border: 2px solid white;
    border-radius: 1.5rem;
    margin-bottom: 3rem;
    margin-right: 3rem;
    cursor: pointer;
}

.program-container {
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
}

.program {
    position: relative;
    display: inline-block;
    margin-right: 4.5rem;
}

.margin-right--none {
    margin-right: 0;
}

.img-container {
    height: 37rem;
    width: 48rem;
    border: 2px solid;
    border-color: inherit;
    border-radius: 2rem;
}

.img-container img {
    width: calc(48rem - 4px);
    height: 30rem;
    border-radius: 1.8rem 1.8rem 0rem 0rem;
    border-bottom: solid;
    border-width: 2px;
    object-fit: cover;
}

.caption-container {
    position: relative;
    display: flex;
    width: calc(48rem - 4px);
    height: calc(7rem - 8px);
}

.caption {
    left: 1.5rem;
    position: absolute;
    top: 47.5%;
    transform: translateY(-50%);
    font-size: 2rem;
    font-weight: 400;
}

.program--hover {
    position: absolute;
    opacity: 0;
    top: 0;
    height: 37rem;
    width: 48rem;
    background-color: white;
    border-radius: 2rem;
    cursor: pointer;
}

.program--hover:hover {
    opacity: 1;
}

.hover-text {
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    padding: 3rem;
}

.hover-text h4 {
    font-weight: 500;
    margin-bottom: 8px;
    font-size: 3.2rem;
}

.hover-text h5 {
    font-weight: 300;
    font-size: 2.6rem;
}

.adht--background {
    background-color:#ff6459;
}

.adht--color {
    color:rgb(255, 17, 0);
}

.adht--active {
    color:rgb(255, 17, 0);
    background-color: white;
}

.amt--background {
    background-color: #ffa857;
}

.amt--color {
    color: rgb(255, 123, 0);
}

.amt--active {
    color: rgb(255, 123, 0);
    background-color: white;
}

.cone--background {
    background-color: #4bd66e;
}

.cone--color {
    color: rgb(0, 196, 49);
}

.cone--active {
    color: rgb(0, 196, 49);
    background-color: white;
}

.dess--background {
    background-color: #5eb2ff;
}

.dess--color {
    color: rgb(0, 132, 255);
}

.dess--active {
    color: rgb(0, 132, 255);
    background-color: white;
}

.fash--background {
    background-color: #bd54ff;
}

.fash--color {
    color: rgb(157, 0, 255);
}

.fash--active {
    color: rgb(157, 0, 255);
    background-color: white;
}

.schl--background {
    background-color: #ff54f1;
}

.schl--color {
    color: rgb(255, 0, 234);
}

.schl--active {
    color: rgb(255, 0, 234);
    background-color: white;
}